extends editor-layout
block content
  #editor-container
    include editor-sidebar
    #editor
      if dot
        = dot
      else
        | /*
        |   Edit your "dot" language and click "Run" button.
        |   Then the result will appear on preview area.
        |   http://www.graphviz.org/content/dot-language
        |  */
        | 
        | digraph G {
        |   Hello -> World;
        |   World -> Beautiful;
        |   Life -> Beautiful;
        | }
    #preview
      #output(ng-bind-html="svg")
      img(src="/preview.svgz")
