.navbar.navbar-default.navbar-static-top.editor-nav(role="navigation")
  .container-full
    .navbar-header
      ul.nav.navbar-nav.pull-right
        li
          a(href ng-click="editor.run()")
            i.fa.fa-play
            |  Run
        li(dropdown ng-show="editor.id != 'NEWT1' && !editor.changed()")
          a.dropdown-toggle(href)
            i.fa.fa-share
            |  Share
            b.caret
          ul.dropdown-menu
            li
              a(href)
                i.fa.fa-twitter
                |  twitter
            li
              a(href)
                i.fa.fa-facebook
                |  facebook
            li.divider
            li
              a(href)
                i.fa.fa-quote-left
                |  embed
      a.navbar-brand(href="/")
        img.logo(src="/logo.svgz")
        |  GVDoodle
