extends editor-layout
block content
  - id = gvid || 'NEWT1'
  #editor-container(ng-init="editor.load('#{id}')")
    include editor-sidebar
    #editor
    #preview
      #output.animate-if(ng-bind-html="svg" ng-show="editor.show_preview")
      img.animate-if(ng-src="{{editor.svg_url}}" ng-hide="editor.show_preview")
