extends editor-layout
block content
  - id = gvid || 'NEWT1'
  #editor-container(ng-init="editor.load('#{id}')")
    include editor-sidebar
    #editor
    #preview
      i.fa.fa-spinner.fa-spin.fa-2x(ng-show="editor.isLoading")
      .preview(ng-hide="editor.isLoading")
        #output.animate-if(ng-bind-html="svg" ng-show="editor.showPreview")
        img.animate-if(ng-src="{{editor.svg_url}}" ng-hide="editor.showPreview" resizable)
