extends editor-layout
block content
  #editor-container(ng-init="editor.load('#{gvid}')")
    include editor-sidebar
    #editor
    #preview
      #output.animate-if(ng-bind-html="svg" ng-show="editor.show_preview")
      img.animate-if(ng-src="{{editor.svg_url}}" ng-hide="editor.show_preview")
