extends layout

block content
  .container
    .row
      .col-md-8
        h1= message
        h2= error.status
        pre #{error.stack}
    - if (error.status == 404)
      .row
        h2 You might have been looking for...
